@import '../utils/mixins';
@import '../utils/vars';

.slider__main {
  .swiper-button-next {
    &::after {
      content: url("data:image/svg+xml,%3Csvg width='20' height='32' viewBox='0 0 20 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.9047 17.2436L4.6633 31.4849C3.97646 32.1717 2.86291 32.1717 2.17613 31.4849L0.515117 29.8238C-0.170556 29.1382 -0.171875 28.0269 0.512186 27.3396L11.7987 16L0.512186 4.66039C-0.171875 3.9731 -0.170556 2.86182 0.515117 2.17615L2.17613 0.515134C2.86298 -0.171711 3.97653 -0.171711 4.6633 0.515134L18.9046 14.7564C19.5914 15.4432 19.5914 16.5567 18.9047 17.2436Z' fill='black'/%3E%3C/svg%3E%0A");
    }
  }

  .swiper-button-prev {
    &::after {
      content: url("data:image/svg+xml,%3Csvg width='20' height='32' viewBox='0 0 20 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.514971 14.7561L14.7568 0.514971C15.4434 -0.171657 16.5573 -0.171657 17.2439 0.514971L18.9052 2.17621C19.5911 2.86211 19.5918 3.97302 18.9081 4.66038L7.62087 15.9996L18.9074 27.3396C19.5918 28.027 19.5903 29.1379 18.9044 29.8238L17.2432 31.485C16.5566 32.1717 15.4427 32.1717 14.7561 31.485L0.514971 17.2432C-0.171657 16.5566 -0.171657 15.4427 0.514971 14.7561Z' fill='black'/%3E%3C/svg%3E%0A");
    }
  }

  .swiper-pagination-bullets {
    bottom: 16px;
  }

  .swiper-pagination-bullet {
    background-color: transparent;
    border: 1px solid $orange;
    opacity: 1;
    @include size(8px);
    margin: 0 8px !important;

    &-active {
      background-color: $orange;
    }
  }

  .item {
    &__wrapper {
      position: relative;
      width: 100%;
      height: 100%;
    }

    &__image {
      @include size(100%);
      object-fit: contain;
    }

    &__content {
      position: absolute;
      left: 63px;
      top: 63px;
      width: 63%
    }

    &__title {
      @include fontConfig($white, 30px, 37px, $fontBold, left);
      font-family: $fontSecondary;
      padding-bottom: 24px;
    }

    &__text {
      @include fontConfig($white, 14px, 17px, $fontRegular, left);
      font-family: $fontSecondary;
      padding-bottom: 16px;
    }

    &__button {
      padding: 5px 8px;
      background-color: $orange;
      border-radius: 4px;
      @include fontConfig($white, 14px, 17px, $fontBold, left);
      font-family: $fontSecondary;
    }
  }
}

@include mq(1024px) {
  .slider__main {
    .swiper-button-next {
      right: calc((100% - 1210px) / 2);
    }

    .swiper-button-prev {
      left: calc((100% - 1210px) / 2);
    }
    .swiper-pagination-bullets {
      bottom: 24px;
    }
    .swiper-pagination-bullet {
      @include size(16px);
    }

    .item {
      &__content {
        top: 150px;
        left: calc(((100% - 1210px) / 2) + 95px);
        width: 471px;
      }

      &__title {
        font-size: 40px;
        line-height: 49px;
        padding-bottom: 40px;
      }

      &__text {
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 32px;
      }

      &__button {
        padding: 14px 30px;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}

@include mq(1500px) {
  .slider__main {
    .swiper-button-next {
      right: calc((100% - 1360px) / 2);
    }

    .swiper-button-prev {
      left: calc((100% - 1360px) / 2);
    }

    .item {
      &__content {
        top: 150px;
        left: calc(((100% - 1360px) / 2) + 162px);
        ;
      }
    }
  }
}

@include mq(1920px) {
  .slider__main {
    .swiper-button-next {
      right: calc((100% - 1556px) / 2);
    }

    .swiper-button-prev {
      left: calc((100% - 1556px) / 2);
    }

    .item {
      &__content {
        top: 150px;
        left: calc(((100% - 1556px) / 2) + 240px);
        ;
      }
    }
  }
}