@import '../utils/mixins';
@import '../utils/vars';

.container__products {
  .shelf__title {
    @include fontConfig($black, 24px, 36px, $fontBold, center);
    padding: 0 16px 16px;
  }

  .slider__products {
    padding: 0 16px;

    .swiper-slide {
      width: 94%;
    }

    .swiper-button-next, .swiper-button-prev {
      display: none;
    }
  }

  .product {

    &__link:hover {
      opacity: 1;
    }

    &__image {
      @include size(100%);
      object-fit: contain;
    }

    &__content {
      padding: 8px 27px 16px;
    }

    &__skus {
      padding-bottom: 8px;
      gap: 8px;
      display: flex;
      flex-wrap: wrap;
    }

    &__sku {
      @include size(27px);
      border-radius: 4px;
      box-sizing: border-box;
      border: 1px solid transparent;

      &.selected {
        border: 1px solid $black;
      }
    }

    &__price {
      @include fontConfig($black, 20px, 30px, $fontBold, left);
    }

    &__name {
      @include fontConfig($black, 16px, 24px, $fontRegular, left);
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    &__description {
      opacity: 0.5;
      @include fontConfig($black, 12px, 18px, $fontRegular, left);
      padding: 8px 0;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      min-height: 54px;
      box-sizing: content-box;
    }

    &__add-to-cart {
      background-color: $orange;
      @include size(100%, 35px);
      border: none;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include fontConfig($white, 16px, 24px, $fontRegular, left);

    }

  }
}

@include mq(1025px) {
  .container__products {
    @include grid();
    .shelf__title {
      font-size: 32px;
      line-height: 49px;
      padding: 0 0 24px;
    }

    .slider__products {
      padding: 0;
      .swiper-button-next, .swiper-button-prev {
        display: flex;
      }

      .swiper-button-next{
        right: -2px !important;
        &::after {
          content: url("data:image/svg+xml,%3Csvg width='20' height='32' viewBox='0 0 20 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.9047 17.2436L4.6633 31.4849C3.97646 32.1717 2.86291 32.1717 2.17613 31.4849L0.515117 29.8238C-0.170556 29.1382 -0.171875 28.0269 0.512186 27.3396L11.7987 16L0.512186 4.66039C-0.171875 3.9731 -0.170556 2.86182 0.515117 2.17615L2.17613 0.515134C2.86298 -0.171711 3.97653 -0.171711 4.6633 0.515134L18.9046 14.7564C19.5914 15.4432 19.5914 16.5567 18.9047 17.2436Z' fill='black'/%3E%3C/svg%3E%0A");
        }
      }

      .swiper-button-prev{
        left: -2px !important;
        &::after {
          content: url("data:image/svg+xml,%3Csvg width='20' height='32' viewBox='0 0 20 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.514971 14.7561L14.7568 0.514971C15.4434 -0.171657 16.5573 -0.171657 17.2439 0.514971L18.9052 2.17621C19.5911 2.86211 19.5918 3.97302 18.9081 4.66038L7.62087 15.9996L18.9074 27.3396C19.5918 28.027 19.5903 29.1379 18.9044 29.8238L17.2432 31.485C16.5566 32.1717 15.4427 32.1717 14.7561 31.485L0.514971 17.2432C-0.171657 16.5566 -0.171657 15.4427 0.514971 14.7561Z' fill='black'/%3E%3C/svg%3E%0A");
        }
      }
    }
    

  }
}

@include mq(1500px) {
  .container__products {
    max-width: 1432px;
  }
}

@include mq(1920px) {
  .container__products {
    max-width: 1632px;
  }
}