$fontRegular:400;
$fontSemiBold: 600;
$fontBold: 700;

$body: #FAFAFA00;

$white: #ffffff;
$white-01: #FAFAFA;
$black: #353535;
$black-01: #000000;
$black-02: #4A4441;
$black-03: #464B54;
$black-04: #787D83;
$gray: #EFEFEF;
$gray-01: #C4C4C4;
$orange: #FAA500;


$fontPrimary: "Titillium Web", sans-serif;
$fontSecondary: "Montserrat", sans-serif;


